<a href="https://colab.research.google.com/github/jobloom79/UNC_Analytics_Bootcamp_Capstone_2022/blob/dang_dev/FirstStep.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
#from google.colab import files
import io
import os
import pandas as pd
from sqlalchemy import create_engine
import psycopg2

data = "/Users/dang/Documents/Bootcamp/UNC_Analytics_Bootcamp_Capstone_2022/Data/preliminary_data"
data_1 = r'/Users/dang/Documents/Bootcamp/UNC_Analytics_Bootcamp_Capstone_2022/ML'
data_2 = r'/Users/dang/Documents/Bootcamp/UNC_Analytics_Bootcamp_Capstone_2022/Data'

In [2]:
#df = pd.read_csv(io.StringIO(data['austin-animal-center-intakes-1.csv'].decode('utf-8')))
df = pd.read_csv(os.path.join(data,'austin-animal-center-intakes-1.csv'))

In [3]:
df.head()

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
0,A803421,NaN,09/01/2019 12:36:00 AM,09/01/2019 12:36:00 AM,800 Dawlish Dr in Travis (TX),Stray,Normal,Dog,Unknown,1 year,German Shepherd Mix,Tan/Black
1,A803419,NaN,08/31/2019 07:07:00 PM,08/31/2019 07:07:00 PM,East Slaughter And Pleasant Valley in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,German Shepherd Mix,Black/White
2,A800462,Spots,08/31/2019 07:00:00 PM,08/31/2019 07:00:00 PM,102 W Powell Lane in Austin (TX),Stray,Normal,Dog,Intact Female,7 months,Chinese Sharpei Mix,Black/Tan
3,A800463,Delilah,08/31/2019 07:00:00 PM,08/31/2019 07:00:00 PM,102 W Powell Lane in Austin (TX),Stray,Normal,Dog,Intact Female,7 months,Chinese Sharpei Mix,Tan/Black
4,A803416,NaN,08/31/2019 06:36:00 PM,08/31/2019 06:36:00 PM,610 Thrasher Lane in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Pit Bull,Black Brindle

In [8]:
df_2 = pd.read_csv(os.path.join(data,'austin-animal-center-outcomes-1.csv'))
df_2.head()

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
0,A771830,*Bradley,12/27/2018 01:25:00 PM,12/27/2018 01:25:00 PM,05/10/2017,Adoption,Foster,Dog,Neutered Male,1 year,Pit Bull Mix,White/Blue
1,A779576,*Rajah,10/01/2018 05:03:00 PM,10/01/2018 05:03:00 PM,04/18/2018,Adoption,NaN,Cat,Neutered Male,5 months,Domestic Shorthair Mix,Brown Tabby
2,A741715,*Pebbles,01/11/2017 06:17:00 PM,01/11/2017 06:17:00 PM,03/07/2016,Adoption,NaN,Cat,Spayed Female,10 months,Domestic Shorthair Mix,Calico
3,A658751,Benji,11/13/2016 01:38:00 PM,11/13/2016 01:38:00 PM,07/14/2011,Return to Owner,NaN,Dog,Neutered Male,5 years,Border Terrier Mix,Tan
4,A721285,NaN,02/24/2016 02:42:00 PM,02/24/2016 02:42:00 PM,02/24/2014,Euthanasia,Suffering,Other,Unknown,2 years,Raccoon Mix,Black/Gray

In [5]:

df.head()

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
0,A771830,*Bradley,12/27/2018 01:25:00 PM,12/27/2018 01:25:00 PM,05/10/2017,Adoption,Foster,Dog,Neutered Male,1 year,Pit Bull Mix,White/Blue
1,A779576,*Rajah,10/01/2018 05:03:00 PM,10/01/2018 05:03:00 PM,04/18/2018,Adoption,NaN,Cat,Neutered Male,5 months,Domestic Shorthair Mix,Brown Tabby
2,A741715,*Pebbles,01/11/2017 06:17:00 PM,01/11/2017 06:17:00 PM,03/07/2016,Adoption,NaN,Cat,Spayed Female,10 months,Domestic Shorthair Mix,Calico
3,A658751,Benji,11/13/2016 01:38:00 PM,11/13/2016 01:38:00 PM,07/14/2011,Return to Owner,NaN,Dog,Neutered Male,5 years,Border Terrier Mix,Tan
4,A721285,NaN,02/24/2016 02:42:00 PM,02/24/2016 02:42:00 PM,02/24/2014,Euthanasia,Suffering,Other,Unknown,2 years,Raccoon Mix,Black/Gray

In [6]:

df = pd.read_csv(os.path.join(data, 'Public_Use_Ixodes_County_Table_2022.csv'))
df.head()

,FIPSCode,State,County,Ixodes_scapularis_County_Status,Ixodes_scapularis_data_source,Ixodes_pacificus_county_status,Ixodes_pacificus_data_source
0,1001,AL,Autauga County ...,Established,CDC ArboNET Tick Module historic data,No records,CDC ArboNET Tick Module historic data
1,1003,AL,Baldwin County ...,Established,CDC ArboNET Tick Module historic data,No records,CDC ArboNET Tick Module historic data
2,1005,AL,Barbour County ...,Established,CDC ArboNET Tick Module historic data,No records,CDC ArboNET Tick Module historic data
3,1007,AL,Bibb County ...,Established,CDC ArboNET Tick Module historic data,No records,CDC ArboNET Tick Module historic data
4,1009,AL,Blount County ...,No records,CDC ArboNET Tick Module historic data,No records,CDC ArboNET Tick Module historic data

In [7]:
df = pd.read_csv(os.path.join(data,'Public_Use_Ixodes_Pathogens_County_Table_2022.csv'))
df.head()

,FIPS_Code,State,County,Borrelia_burgdorferi_sensu_stricto_County_Status,Borrelia_burgdorferi_sensu_stricto_Data_Source,Borrelia_mayonii_County_Status,Borrelia_mayonii_Data_Source,Borrelia_miyamotoi_County_Status,Borrelia_miyamotoi_Data_Source,Anaplasma_phagocytophilum_County_Status,Anaplasma_phagocytophilum_Data_Source,Ehrlichia_muris_eauclairensis_County_Status,Ehrlichia_muris_eauclairensis_Data_Source,Babesia_microti_County_Status,Babesia_microti_Data_Source,Powassan_virus_County_Status,Powassan_virus_Data_Source
0,1001,AL,Autauga County ...,No Records,CDC ArboNET Tick Module historic data,No Records,CDC ArboNET Tick Module historic data,No Records,Fleshman et al. 2022,No Records,Fleshman et al. 2022,No Records,Fleshman et al. 2022,No Records,Fleshman et al. 2022,No Records,Fleshman et al. 2022
1,1003,AL,Baldwin County ...,No Records,CDC ArboNET Tick Module historic data,No Records,CDC ArboNET Tick Module historic data,No Records,Fleshman et al. 2022,No Records,Fleshman et al. 2022,No Records,Fleshman et al. 2022,No Records,Fleshman et al. 2022,No Records,Fleshman et al. 2022
2,1005,AL,Barbour County ...,No Records,CDC ArboNET Tick Module historic data,No Records,CDC ArboNET Tick Module historic data,No Records,Fleshman et al. 2022,No Records,Fleshman et al. 2022,No Records,Fleshman et al. 2022,No Records,Fleshman et al. 2022,No Records,Fleshman et al. 2022
3,1007,AL,Bibb County ...,No Records,CDC ArboNET Tick Module historic data,No Records,CDC ArboNET Tick Module historic data,No Records,Fleshman et al. 2022,No Records,Fleshman et al. 2022,No Records,Fleshman et al. 2022,No Records,Fleshman et al. 2022,No Records,Fleshman et al. 2022
4,1009,AL,Blount County ...,No Records,CDC ArboNET Tick Module historic data,No Records,CDC ArboNET Tick Module historic data,No Records,Fleshman et al. 2022,No Records,Fleshman et al. 2022,No Records,Fleshman et al. 2022,No Records,Fleshman et al. 2022,No Records,Fleshman et al. 2022

In [8]:
tick_19_df = pd.read_csv(os.path.join(data,'tick_2019.csv'))
tick_19_df.head(10)

,FIPSCode,State,County,Ixodes_scapularis_County_Status,Ixodes_scapularis_data_source,Ixodes_pacificus_county_status,Ixodes_pacificus_data_source
0,1001,AL,Autauga County,Established,CDC ArboNET Tick Module historic data,No records,CDC ArboNET Tick Module historical data
1,1003,AL,Baldwin County,Established,CDC ArboNET Tick Module historic data,No records,CDC ArboNET Tick Module historical data
2,1005,AL,Barbour County,Established,CDC ArboNET Tick Module historic data,No records,CDC ArboNET Tick Module historical data
3,1007,AL,Bibb County,Established,CDC ArboNET Tick Module historic data,No records,CDC ArboNET Tick Module historical data
4,1009,AL,Blount County,No records,CDC ArboNET Tick Module historic data,No records,CDC ArboNET Tick Module historical data
5,1011,AL,Bullock County,Established,CDC ArboNET Tick Module historic data,No records,CDC ArboNET Tick Module historical data
6,1013,AL,Butler County,Established,CDC ArboNET Tick Module historic data,No records,CDC ArboNET Tick Module historical data
7,1015,AL,Calhoun County,No records,CDC ArboNET Tick Module historic data,No records,CDC ArboNET Tick Module historical data
8,1017,AL,Chambers County,Established,CDC ArboNET Tick Module historic data,No records,CDC ArboNET Tick Module historical data
9,1019,AL,Cherokee County,No records,CDC ArboNET Tick Module historic data,No records,CDC ArboNET Tick Module historical data

In [9]:
db_string = f"postgresql://root:UNCCapst0ne_2022@unc-capstone-db.chbhjul7q0jr.us-east-2.rds.amazonaws.com:5432/my_data_class_db"

In [10]:
engine = create_engine(db_string)

In [11]:
tick_19_df.to_sql(name='tick_2019', con=engine, if_exists = 'replace')

110

In [12]:
tick_20_df = pd.read_csv(os.path.join(data,'tick_2020.csv'))
tick_20_df.head(10)

,FIPSCode,State,County,Ixodes_scapularis_County_Status,Ixodes_scapularis_data_source,Ixodes_pacificus_county_status,Ixodes_pacificus_data_source
0,1001,AL,Autauga County ...,Established,CDC ArboNET Tick Module historic data,No records,CDC ArboNET Tick Module historic data
1,1003,AL,Baldwin County ...,Established,CDC ArboNET Tick Module historic data,No records,CDC ArboNET Tick Module historic data
2,1005,AL,Barbour County ...,Established,CDC ArboNET Tick Module historic data,No records,CDC ArboNET Tick Module historic data
3,1007,AL,Bibb County ...,Established,CDC ArboNET Tick Module historic data,No records,CDC ArboNET Tick Module historic data
4,1009,AL,Blount County ...,No records,CDC ArboNET Tick Module historic data,No records,CDC ArboNET Tick Module historic data
5,1011,AL,Bullock County ...,Established,CDC ArboNET Tick Module historic data,No records,CDC ArboNET Tick Module historic data
6,1013,AL,Butler County ...,Established,CDC ArboNET Tick Module historic data,No records,CDC ArboNET Tick Module historic data
7,1015,AL,Calhoun County ...,No records,CDC ArboNET Tick Module historic data,No records,CDC ArboNET Tick Module historic data
8,1017,AL,Chambers County ...,Established,CDC ArboNET Tick Module historic data,No records,CDC ArboNET Tick Module historic data
9,1019,AL,Cherokee County ...,No records,CDC ArboNET Tick Module historic data,No records,CDC ArboNET Tick Module historic data

In [13]:
tick_21_df = pd.read_csv(os.path.join(data,'tick_2021.csv'))
tick_21_df.head()

,FIPSCode,State,County,Ixodes_scapularis_County_Status,Ixodes_scapularis_data_source,Ixodes_pacificus_county_status,Ixodes_pacificus_data_source
0,1001,AL,Autauga County ...,Established,CDC ArboNET Tick Module historic data,No records,CDC ArboNET Tick Module historic data
1,1003,AL,Baldwin County ...,Established,CDC ArboNET Tick Module historic data,No records,CDC ArboNET Tick Module historic data
2,1005,AL,Barbour County ...,Established,CDC ArboNET Tick Module historic data,No records,CDC ArboNET Tick Module historic data
3,1007,AL,Bibb County ...,Established,CDC ArboNET Tick Module historic data,No records,CDC ArboNET Tick Module historic data
4,1009,AL,Blount County ...,No records,CDC ArboNET Tick Module historic data,No records,CDC ArboNET Tick Module historic data

In [14]:
tick_16_df = pd.read_csv(os.path.join(data,'tick_data_2016.csv'))
tick_16_df.head()

,FIPSCode,State,County,Ixodes_scapularis_County_Status,Ixodes_scapularis_data_source,Ixodes_pacificus_county_status,Ixodes_pacificus_data_source
0,1001,AL,Autauga County,Established,Eisen et al. 2016. J Med Entomol.,No records,Eisen et al. 2016. J Med Entomol.
1,1003,AL,Baldwin County,Reported,Eisen et al. 2016. J Med Entomol.,No records,Eisen et al. 2016. J Med Entomol.
2,1005,AL,Barbour County,Established,Eisen et al. 2016. J Med Entomol.,No records,Eisen et al. 2016. J Med Entomol.
3,1007,AL,Bibb County,Established,Eisen et al. 2016. J Med Entomol.,No records,Eisen et al. 2016. J Med Entomol.
4,1009,AL,Blount County,No records,Eisen et al. 2016. J Med Entomol.,No records,Eisen et al. 2016. J Med Entomol.

In [15]:
tick_18_df = pd.read_csv(os.path.join(data,'tick_data_2018.csv'))
tick_18_df.head()

,FIPSCode,State,County,Ixodes_scapularis_County_Status,Ixodes_scapularis_data_source,Ixodes_pacificus_county_status,Ixodes_pacificus_data_source
0,1001,AL,Autauga County,Established,CDC ArboNET Tick Module historical data,No records,CDC ArboNET Tick Module historical data
1,1003,AL,Baldwin County,Established,CDC ArboNET Tick Module historical data,No records,CDC ArboNET Tick Module historical data
2,1005,AL,Barbour County,Established,CDC ArboNET Tick Module historical data,No records,CDC ArboNET Tick Module historical data
3,1007,AL,Bibb County,Established,CDC ArboNET Tick Module historical data,No records,CDC ArboNET Tick Module historical data
4,1009,AL,Blount County,No records,CDC ArboNET Tick Module historical data,No records,CDC ArboNET Tick Module historical data

In [16]:
tick_20_df.to_sql(name='tick_2020', con=engine, if_exists = 'replace')

110

In [17]:
tick_21_df.to_sql(name='tick_2021', con=engine, if_exists = 'replace')

110

In [18]:
tick_16_df.to_sql(name='tick_2016', con=engine, if_exists = 'replace')

110

In [19]:
tick_18_df.to_sql(name='tick_2018', con=engine, if_exists = 'replace')

110

In [5]:
df_1 = pd.read_csv(os.path.join(data_1,'Animal_Data.csv'))
df_1.head()

,Animal_ID,Name,State,Age,Sex,Animal_type,Breed_Class,Color,Weight_lbs,Temperature,...,Vomiting,Diarrhea,Inappetence,Lethargic,Lameness,Muscle_pain,Joint_swelling,Reported_weight_loss,Skin_condition,4Dx_tested
0,A803419,NaN,TX,2 years,Intact Male,Dog,Small,Black/White,7,NaN,...,None,None,None,None,None,None,None,Present,Normal,Not Tested
1,A800463,Delilah,TX,7 months,Intact Female,Dog,Medium,Tan/Black,45,NaN,...,Mild,Mild,Moderate,None,None,Mild,None,None,Normal,Not Tested
2,A803414,Martie,TX,2 years,Intact Female,Dog,Large,Black/Tricolor,63,NaN,...,Mild,None,None,Mild,None,None,None,None,Normal,Not Tested
3,A803417,NaN,TX,1 month,Intact Female,Dog,Medium,Brown/Tan,39,NaN,...,Mild,Mild,Mild,Moderate,None,None,None,None,Normal,Not Tested
4,A803412,NaN,TX,5 months,Intact Male,Dog,Small,Brown/Black,21,NaN,...,None,None,None,Mild,None,None,None,None,Normal,Not Tested

In [6]:
df_1.set_index('Animal_ID', inplace=True)
df_1.head()

,Name,State,Age,Sex,Animal_type,Breed_Class,Color,Weight_lbs,Temperature,Heart_Rate_bpm,...,Vomiting,Diarrhea,Inappetence,Lethargic,Lameness,Muscle_pain,Joint_swelling,Reported_weight_loss,Skin_condition,4Dx_tested
Animal_ID,,,,,,,,,,,,,,,,,,,,,
A803419,NaN,TX,2 years,Intact Male,Dog,Small,Black/White,7,NaN,146,...,None,None,None,None,None,None,None,Present,Normal,Not Tested
A800463,Delilah,TX,7 months,Intact Female,Dog,Medium,Tan/Black,45,NaN,116,...,Mild,Mild,Moderate,None,None,Mild,None,None,Normal,Not Tested
A803414,Martie,TX,2 years,Intact Female,Dog,Large,Black/Tricolor,63,NaN,161,...,Mild,None,None,Mild,None,None,None,None,Normal,Not Tested
A803417,NaN,TX,1 month,Intact Female,Dog,Medium,Brown/Tan,39,NaN,129,...,Mild,Mild,Mild,Moderate,None,None,None,None,Normal,Not Tested
A803412,NaN,TX,5 months,Intact Male,Dog,Small,Brown/Black,21,NaN,165,...,None,None,None,Mild,None,None,None,None,Normal,Not Tested

In [9]:
df_2.set_index("Animal ID", inplace=True)
df_2.head()

,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
Animal ID,,,,,,,,,,,
A771830,*Bradley,12/27/2018 01:25:00 PM,12/27/2018 01:25:00 PM,05/10/2017,Adoption,Foster,Dog,Neutered Male,1 year,Pit Bull Mix,White/Blue
A779576,*Rajah,10/01/2018 05:03:00 PM,10/01/2018 05:03:00 PM,04/18/2018,Adoption,NaN,Cat,Neutered Male,5 months,Domestic Shorthair Mix,Brown Tabby
A741715,*Pebbles,01/11/2017 06:17:00 PM,01/11/2017 06:17:00 PM,03/07/2016,Adoption,NaN,Cat,Spayed Female,10 months,Domestic Shorthair Mix,Calico
A658751,Benji,11/13/2016 01:38:00 PM,11/13/2016 01:38:00 PM,07/14/2011,Return to Owner,NaN,Dog,Neutered Male,5 years,Border Terrier Mix,Tan
A721285,NaN,02/24/2016 02:42:00 PM,02/24/2016 02:42:00 PM,02/24/2014,Euthanasia,Suffering,Other,Unknown,2 years,Raccoon Mix,Black/Gray

In [18]:
animal_data_1_df = pd.merge(df_1, df_2, right_index=True, left_index=True)
animal_data_1_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 65982 entries, A006100 to A788699
Data columns (total 35 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Name_x                58597 non-null  object
 1   State                 65982 non-null  object
 2   Age                   65982 non-null  object
 3   Sex                   65981 non-null  object
 4   Animal_type           65982 non-null  object
 5   Breed_Class           65982 non-null  object
 6   Color_x               65982 non-null  object
 7   Weight_lbs            65982 non-null  int64
 8   Temperature           0 non-null      float64
 9   Heart_Rate_bpm        65982 non-null  int64
 10  Resp_Rate_bpm         65982 non-null  object
 11  MM                    65982 non-null  object
 12  CRT                   65982 non-null  object
 13  Mentation             65982 non-null  object
 14  Vomiting              65982 non-null  object
 15  Diarrhea              65982 non-null  object
 16  Inappetence           65982 non-null  object
 17  Lethargic             65982 non-null  object
 18  Lameness              65982 non-null  object
 19  Muscle_pain           65982 non-null  object
 20  Joint_swelling        65982 non-null  object
 21  Reported_weight_loss  65982 non-null  object
 22  Skin_condition        65982 non-null  object
 23  4Dx_tested            65982 non-null  object
 24  Name_y                58474 non-null  object
 25  DateTime              65982 non-null  object
 26  MonthYear             65982 non-null  object
 27  Date of Birth         65982 non-null  object
 28  Outcome Type          65980 non-null  object
 29  Outcome Subtype       16849 non-null  object
 30  Animal Type           65982 non-null  object
 31  Sex upon Outcome      65980 non-null  object
 32  Age upon Outcome      65980 non-null  object
 33  Breed                 65982 non-null  object
 34  Color_y               65982 non-null  object
dtypes: float64(1), int64(2), object(32)
memory usage: 18.1+ MB

In [24]:
#Clear the Data for comparing 
clear_df = animal_data_1_df.drop(columns=['Breed_Class', 'Animal_type', 'Color_x', 'Name_y', 'Animal Type', 'Breed', 'Color_y'])
clear_df.info()
clear_df.head()

<class 'pandas.core.frame.DataFrame'>
Index: 65982 entries, A006100 to A788699
Data columns (total 28 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Name_x                58597 non-null  object
 1   State                 65982 non-null  object
 2   Age                   65982 non-null  object
 3   Sex                   65981 non-null  object
 4   Weight_lbs            65982 non-null  int64
 5   Temperature           0 non-null      float64
 6   Heart_Rate_bpm        65982 non-null  int64
 7   Resp_Rate_bpm         65982 non-null  object
 8   MM                    65982 non-null  object
 9   CRT                   65982 non-null  object
 10  Mentation             65982 non-null  object
 11  Vomiting              65982 non-null  object
 12  Diarrhea              65982 non-null  object
 13  Inappetence           65982 non-null  object
 14  Lethargic             65982 non-null  object
 15  Lameness              65982 non-null  object
 16  Muscle_pain           65982 non-null  object
 17  Joint_swelling        65982 non-null  object
 18  Reported_weight_loss  65982 non-null  object
 19  Skin_condition        65982 non-null  object
 20  4Dx_tested            65982 non-null  object
 21  DateTime              65982 non-null  object
 22  MonthYear             65982 non-null  object
 23  Date of Birth         65982 non-null  object
 24  Outcome Type          65980 non-null  object
 25  Outcome Subtype       16849 non-null  object
 26  Sex upon Outcome      65980 non-null  object
 27  Age upon Outcome      65980 non-null  object
dtypes: float64(1), int64(2), object(25)
memory usage: 14.6+ MB

,Name_x,State,Age,Sex,Weight_lbs,Temperature,Heart_Rate_bpm,Resp_Rate_bpm,MM,CRT,...,Reported_weight_loss,Skin_condition,4Dx_tested,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Sex upon Outcome,Age upon Outcome
A006100,Scamp,TX,10 years,Neutered Male,23,NaN,160,22,Pink,1-2 sec,...,None,Normal,Not Tested,03/08/2014 05:10:00 PM,03/08/2014 05:10:00 PM,07/09/2007,Return to Owner,NaN,Neutered Male,6 years
A006100,Scamp,TX,10 years,Neutered Male,23,NaN,160,22,Pink,1-2 sec,...,None,Normal,Not Tested,12/20/2014 04:35:00 PM,12/20/2014 04:35:00 PM,07/09/2007,Return to Owner,NaN,Neutered Male,7 years
A006100,Scamp,TX,10 years,Neutered Male,23,NaN,160,22,Pink,1-2 sec,...,None,Normal,Not Tested,12/07/2017 12:00:00 AM,12/07/2017 12:00:00 AM,07/09/2007,Return to Owner,NaN,Neutered Male,10 years
A006100,Scamp,TX,7 years,Neutered Male,75,NaN,108,55,Pink,1-2 sec,...,None,Normal,Not Tested,03/08/2014 05:10:00 PM,03/08/2014 05:10:00 PM,07/09/2007,Return to Owner,NaN,Neutered Male,6 years
A006100,Scamp,TX,7 years,Neutered Male,75,NaN,108,55,Pink,1-2 sec,...,None,Normal,Not Tested,12/20/2014 04:35:00 PM,12/20/2014 04:35:00 PM,07/09/2007,Return to Owner,NaN,Neutered Male,7 years

In [42]:
#Write Data to Sql
animal_data_1_df.to_sql(name='animal_data_2', con=engine, if_exists = 'replace')

982

In [3]:
#Open New Data Table  
joined_tick_data_df = pd.read_csv(os.path.join(data_2,'completed_joined_tick_data.csv'))
joined_tick_data_df.head()

,fipscode,state,county,ixodes_scapularis_county_status_2016,ixodes_pacificus_county_status_2016,ixodes_scapularis_county_status_2018,ixodes_pacificus_county_status_2018,ixodes_scapularis_county_status_2019,ixodes_pacificus_county_status_2019,ixodes_scapularis_county_status_2020,ixodes_pacificus_county_status_2020,ixodes_scapularis_county_status_2021,ixodes_pacificus_county_status_2021
0,1001,AL,Autauga County,Established,No records,Established,No records,Established,No records,Established,No records,Established,No records
1,1003,AL,Baldwin County,Reported,No records,Established,No records,Established,No records,Established,No records,Established,No records
2,1005,AL,Barbour County,Established,No records,Established,No records,Established,No records,Established,No records,Established,No records
3,1007,AL,Bibb County,Established,No records,Established,No records,Established,No records,Established,No records,Established,No records
4,1009,AL,Blount County,No records,No records,No records,No records,No records,No records,No records,No records,No records,No records

In [25]:
#Open Animal Data 
animal_data_df = df_1
animal_data_df.head()

,Name,State,Age,Sex,Animal_type,Breed_Class,Color,Weight_lbs,Temperature,Heart_Rate_bpm,...,Vomiting,Diarrhea,Inappetence,Lethargic,Lameness,Muscle_pain,Joint_swelling,Reported_weight_loss,Skin_condition,4Dx_tested
Animal_ID,,,,,,,,,,,,,,,,,,,,,
A803419,NaN,TX,2 years,Intact Male,Dog,Small,Black/White,7,NaN,146,...,None,None,None,None,None,None,None,Present,Normal,Not Tested
A800463,Delilah,TX,7 months,Intact Female,Dog,Medium,Tan/Black,45,NaN,116,...,Mild,Mild,Moderate,None,None,Mild,None,None,Normal,Not Tested
A803414,Martie,TX,2 years,Intact Female,Dog,Large,Black/Tricolor,63,NaN,161,...,Mild,None,None,Mild,None,None,None,None,Normal,Not Tested
A803417,NaN,TX,1 month,Intact Female,Dog,Medium,Brown/Tan,39,NaN,129,...,Mild,Mild,Mild,Moderate,None,None,None,None,Normal,Not Tested
A803412,NaN,TX,5 months,Intact Male,Dog,Small,Brown/Black,21,NaN,165,...,None,None,None,Mild,None,None,None,None,Normal,Not Tested

In [30]:
#Clear Table
clear_animal_data_df = df_1.drop(columns=['Name', 'Breed_Class', 'Color'])
clear_animal_data_df.head()

,State,Age,Sex,Animal_type,Weight_lbs,Temperature,Heart_Rate_bpm,Resp_Rate_bpm,MM,CRT,...,Vomiting,Diarrhea,Inappetence,Lethargic,Lameness,Muscle_pain,Joint_swelling,Reported_weight_loss,Skin_condition,4Dx_tested
Animal_ID,,,,,,,,,,,,,,,,,,,,,
A803419,TX,2 years,Intact Male,Dog,7,NaN,146,27,Pale,UTO,...,None,None,None,None,None,None,None,Present,Normal,Not Tested
A800463,TX,7 months,Intact Female,Dog,45,NaN,116,28,Light Pink,>2 sec,...,Mild,Mild,Moderate,None,None,Mild,None,None,Normal,Not Tested
A803414,TX,2 years,Intact Female,Dog,63,NaN,161,32,Pink,1-2 sec,...,Mild,None,None,Mild,None,None,None,None,Normal,Not Tested
A803417,TX,1 month,Intact Female,Dog,39,NaN,129,23,Pink,1-2 sec,...,Mild,Mild,Mild,Moderate,None,None,None,None,Normal,Not Tested
A803412,TX,5 months,Intact Male,Dog,21,NaN,165,Pant,Pale,UTO,...,None,None,None,Mild,None,None,None,None,Normal,Not Tested